.custom-input{
    padding: 20px 25px ;
    outline:none; 
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid rgba(100, 100, 100, 0.299);
}
.custom-input::placeholder{
    font-size: 18px;
}
.custom-input:hover, .custom-input:focus{
   border: 2px solid #ff0084;
}
 