.App{
  background-image: url("./assets/man.jpg");
  background-size: cover; 
  background-position: center; 
  height: 50vh; 
  width: 100%; 
  color: #fff;
}
.App::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}